* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* *************** */
.heading-primary {
  color: #272727;
  font-size: 80px;
  font-weight: 900;
}

.heading-secondary {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.text-primary {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

.btn-primary {
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.mt-3 {
  margin-top: 5rem;
}

/* Header Section */

.header {
  background: rgba(229, 84, 115, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 0 2rem;
  gap: 2rem;
}
.header-content img {
  width: 450px;
}

.heading-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

/* Featured Section */
/* *************** */
.featured-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.featured-section .text-primary {
  width: 600px;
  text-align: center;
}

.featured-flowers {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.featured-flowers .item {
  text-align: center;
}

.featured-flowers .item a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  display: block;
  padding-top: 1rem;
  text-decoration-line: underline;
}

.featured-flowers .item img {
  width: 70%;
}

.featured-flowers .item .flower {
  height: 400px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 300px 300px 0px 0px;
}

.featured-flowers .item .bg-1 {
  background: rgba(167, 33, 98, 0.15);
}

.featured-flowers .item .bg-2 {
  background: rgba(71, 125, 17, 0.15);
}
.featured-flowers .item .bg-3 {
  background: rgba(5, 151, 160, 0.15);
}

/* Why Us section */
.why-us-section {
  width: 100%;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}

.why-us-section .item {
  text-align: center;
  padding: 1rem;
}

.why-us-section .item p {
  padding-top: 1rem;
}

/* Promo Section */
.promo-section {
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}

.promo-section .promo-info {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.promo-section .promo-info h2 span {
  color: #e55473;
}

.promo-section .promo-info .text-primary {
  text-align: center;
}

/* Instagram section */
.instagram-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.instagram-section .text-primary {
  width: 600px;
  text-align: center;
}

.instagram-section .gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.instagram-section .gallery .image img {
  width: 100%;
}
